body,
html {
    height: 100%;
    margin: 0;
}

.edit-profile-container {
    background-image: url('https://images.unsplash.com/photo-1534289692684-c02577d5560d?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    text-align: left;
}

.form-label {
    font-weight: bold;
    font-size: 14px;
}

.custom-save-button {
    background-color: blue !important;
    border: 2px solid blue !important;
    color: white !important;
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    text-align: left;
}

.custom-save-button:hover {
    background-color: white !important;
    color: blue !important;
    border-color: blue !important;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}